/* * */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Poppins:ital,wght@0,400;0,500;1,300&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0 10px;
  list-style: none;
  text-decoration: none;
}
/* h2 {
  color: #3a3a3a;
} */
h3 {
  font-size: 24px;
}
/* header part style */
.container {
  width: 100%;

  /* background: lavenderblush; */
}
.main-container {
  width: 90%;
  padding: 1rem 0px;
  margin: 0 auto;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manu-items ul {
  display: flex;
}

ul li a {
  color: black;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li {
  margin-right: 10px;
  padding: 5px;
}
@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .manu-items ul {
    flex-direction: column;
    display: block;
    text-align: center;
  }
}
