/* * */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Poppins:ital,wght@0,400;0,500;1,300&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
}
h2 {
  color: #3a3a3a;
}
h3 {
  font-size: 24px;
}

a {
  color: black;
}
/* header bottom style */
.influencer {
  width: 50%;
}
.description {
  width: 50%;
}
.color {
  color: #3a3a3a;
}
.btn {
  background: #e02c6d;
  color: white;
  border: none;

  border-radius: 10px;
  padding: 5px;
}
.fa-arrow-right {
  margin-left: 10px;
}
.header {
  width: 100%;

  background: lavenderblush;
}
.container {
  width: 90%;
  padding: 1rem 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manu-items ul {
  display: flex;
}
ul li {
  margin-right: 10px;
  padding: 5px;
}
@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .manu-items ul {
    flex-direction: column;
    display: block;
    text-align: center;
  }
}
